{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col">
            <input id="date_selector" type="button" class="datepicker-here" data-select-date="{{ month.0.isoformat }}"/>
        </div>
    </div>

    <div class="justify-content-center">
        {% include "timetable/includes/table.html" %}
        {% include "timetable/includes/view_plan.html" %}
        {% include "timetable/includes/other_info.html" %}
    </div>

{% endblock %}


