body {
    background-color: #f0f0f0;
    text-align:center;
}

.date-weekend {
    background-color: #e8be7c;
}
tr:hover .date-weekend {
    background-color: #b8925c;
}

#button-save{
    border-radius: unset;
    border: 0;
}

.user-name-th {
    white-space: nowrap;
}

#date_selector {
    background-color: initial;
    border-width: 0 !important;
}

table#main_cal {
    box-shadow: 0 0 8px 0 black;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    margin: auto;
}

select#work_type {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-width: 0;
    background-color: unset;
    padding: .0rem .5rem;
    text-align:center;
}

select#work_type,
table#main_cal{
    font-size: 0.8rem;
}

#work-day-types,
#user-info{
    border: 1px solid #000000; /* Рамка вокруг таблицы */
    text-align:left;
}

#work-day-types td,
#user-info td {
    padding-left: 10px;
    padding-right: 10px;
}

#border-tr-user{
    border: 2px solid #24d031
}

#main_cal td,
#main_cal th{
border: 1px solid #0000000f; /* Параметры рамки */
}

.sum_work_day{
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    font-size: large;
}