<div class="row mt-5 ">
    <div class="col d-flex justify-content-center">
        <table id="user-info">
            {% for user, _, _ in users_work_days %}
                <tr>
                    <td>{{ user.get_full_name }}</td>
                    <td>{{ user.profile.phone_number.as_international }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="col d-flex justify-content-center">
        <table id="work-day-types">
            {% for work_type in work_day_types %}
                <tr>
                    <td>{{ work_type.name }}</td>
                    <td>{{ work_type.description }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>