{% load custom_filter %}

<table class="table-hover table-striped" id="main_cal">
    <thead>
    <tr>
        <th scope="col" style="padding:0px; border:0px;">
            <button class="btn btn-success btn-block" hidden="true" id="button-save" type="button">Save</button>
        </th>
        {% for day in month %}
            <th scope="col" data-date="{{ day.isoformat }}">
                <small>{{ day|date:"D" }}</small>
                <div>{{ day.day }}</div>
            </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for user, work_days, sum_work_days in users_work_days %}
        <tr {% if request.user.id == user.id %}id="border-tr-user"{% endif %}>
            <th scope="col" class="user-name-th">{{ user.get_full_name }}</th>
            {% for day in month %}
                <td class="mutable-day" data-user-id="{{ user.id }}" data-date="{{ day.isoformat }}">
                    <select class="form-control-sm" id="work_type" data-wdt="{% get_id_work_day_type %}">{{ opt|safe }}</select>
                    {% if forloop.last %}<strong class="sum_work_day">{{ sum_work_days }}</strong>{% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

