{% if plans %}
<div class="row">
        <div class="col">
            {% for plan in plans %}
                <div class="collapse" id="PlanPDF{{ plan.id }}">
                    <iframe class="border-0 mt-2" src="{{ plan.file.url }}#view=FitH&toolbar=0" height="500" width="1350"></iframe>
                </div>
            {% endfor %}
        </div>
</div>
{% endif %}
