<nav class="navbar navbar-expand pb-0" style="height: 38px;">
    <a class="navbar-brand mr-5" href="{% url 'calendar' %}">Табель</a>

    {% if plans %}
        <div class="mr-2 navbar-brand">График</div>
        {% for plan in plans %}
            {% if forloop.first %}
                <a class="px-1 nav-link" data-toggle="collapse" href="#PlanPDF{{ plan.id }}">{{ plan.get_view_name }}</a>
            {% else %}
                <a class="px-1 nav-link text-secondary" data-toggle="collapse" href="#PlanPDF{{ plan.id }}">{{ plan.get_view_name }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}

    <ul class="navbar-nav flex-row ml-auto">
        <li class="nav-item">
            <p class="navbar-brand">{{ user.username }}</p>
        </li>
        <li class="nav-item">
            {% if user.is_authenticated %}
                <a class="navbar-brand" href="{% url 'logout' %}">logout</a>
            {% else %}
                <a class="navbar-brand" href="{% url 'login' %}">login</a>
            {% endif %}
        </li>
    </ul>
</nav>