<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {{ title }} {% endblock %}</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body class="text-center">
<form class="form-signin" method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
         height="72">

    {% if form.errors %}
        <h1 class="h3 mb-3 font-weight-normal">Your username and password didn't match. Please try again.</h1>
    {% endif %}
    {% if next %}
        {% if user.is_authenticated %}
            <h1 class="h3 mb-3 font-weight-normal">Your account doesn't have access to this page. To proceed, please
                login with an account that has access.</h1>
        {% else %}
            <h1 class="h3 mb-3 font-weight-normal">Please login to see this page.</h1>
        {% endif %}
    {% endif %}
    {% if not form.errors and not next %}
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    {% endif %}
    {{ form.username }}
    {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}"/>
    <button value="login" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
</body>
</html>
